<launch>
    <include file="$(dirname)/turtlebot3_robot.launch" />
    <include file="$(dirname)/rpi_neopixel.launch" />
    <include file="$(dirname)/camerav2_1280x960.launch" />
    <node name="can_detector" pkg="can_detector" type="can-detector.py" output="screen" respawn="true" />
    <node name="rosmovement" pkg="rosmovement" type="movement.py" output="screen" respawn="true" />
    <node name="can_detector" pkg="can_detector" type="can-detector.py" output="screen" respawn="true" />
    <node name="hc_sr04_driver" pkg="hc_sr04_driver" type="hc_sr04.py" output="screen" respawn="true" />
    <node name="libseek_thermal_driver" pkg="libseek_thermal_driver" type="libseek_thermal_driver" output="screen" respawn="true" />
</launch>
