<launch>
    <include file="/home/pi/catkin_ws/src/turtlebot3/turtlebot3_bringup/launch/turtlebot3_robot.launch" />
    <include file="/home/pi/catkin_ws/src/rpi_neopixel/rpi_neopixel.launch" />
    <include file="/home/pi/catkin_ws/src/raspicam_node/launch/camerav2_1280x960.launch" />
    <node name="can_detector" pkg="can_detector" type="can-detector.py" output="screen" respawn="true" />
    <node name="cam_feeder" pkg="cam_feeder" type="cam-feeder.py" output="screen" respawn="true" />
    <node name="rosmovement" pkg="rosmovement" type="movement.py" output="screen" respawn="true" />
    <node name="controller" pkg="controller_coaco" type="controller.py" output="screen" />
    <node name="heatcam" pkg="libseek_thermal_driver" type="libseek_thermal_driver" output="screen" respawn="true" />
</launch>
